@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$churrosYellow: #f9d54b;
$churrosYellow-inverted: #444255;
$blackKinda: #424242;
$family-sans-serif: 'Quicksand', sans-serif;

$primary: $churrosYellow;
$primary-inverted: $churrosYellow-inverted;
$footer-background-color: $blackKinda;
$footer-color:#dcdde1;

@import "../css//bulma-0.9.0/sass/utilities/_all.sass";
@import "../css/bulma-0.9.0/sass/base/_all.sass";
@import "../css/bulma-0.9.0/sass/components/_all.sass";
@import "../css/bulma-0.9.0/sass/layout/_all.sass";
@import "../css/bulma-0.9.0/sass/grid/_all.sass";
@import "../css/bulma-0.9.0/sass/elements/_all.sass";
@import "../css/bulma-0.9.0/sass/form/_all.sass";
@import "../css/bulma-0.9.0/sass/helpers/_all.sass";
