:root{
    --main-color:#f9ca24;
}

.is-borderless{
    border:0px;
}

.sub-judul:after{
    content: "";
    position: absolute;
    width: 125px;
    height: 50px;
    bottom: 0;
    margin-left:-120px;
    border-bottom: 10px solid #2d3436;
}

.sub-judul{
    position: relative;
}

/* The Image container */
.img-hover-zoom {
  max-height: 300px;
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
  height: inherit;
  width: 100% !important;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.galeri{
  height: fit-content;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 1407px) {
  .container.is-fullhd {
    max-width: 1344px;
  }
}

hr {
  /* border-color: black; */
  background-color: #424242;
  height: 5px;
  border-radius: 2px;
}

img.shadowImage {
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 grey, 0 10px 10px 0 grey;
}

.whiteText {
  color: #dcdde1;
}

img.absolute {
  position: absolute;
  z-index: 0;
  margin: 0px;
}

.cardProduct {
  transition: 0.3s;
  transition: transform .2s; 
  margin-top: 30px;
  position: relative;  
  width: 300px;
  height: 480px;
}

.cardProduct:hover {
  transform: scale(1.049);
}

.cardContentProduct {
  background-color: white;
  position: absolute;
  z-index: 1;  
  width: 250px;
  height: 125px;
  border-radius: 10px;
  top: 170px;
  left: 25px;
  box-shadow: 0 0.5em 1em -0.123em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 1rem; }

.cardFooter {
  background-color: transparent;
  z-index: 3;
  position: absolute;
  top: 59%;
  left: 30%;
}

.cardImage{ 
  position: relative;
  z-index: 1;
  width: 490px;
  height: 280px;
  border-radius: 8px 8px 20px 20px;
  box-shadow: 0 0.5em 1em 0.22em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.cardImage:hover{
  box-shadow: 0 0.5em 1em 0.93em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

figure .figureProduct {
  position: relative;
  border-radius: 10px 10px 20px 20px;
  z-index: 3;
}

figcaption {
  background-color: white;
  position: absolute;
  z-index: 2;  
  width: 265px;
  height: auto;
  border-radius: 10px 10px 20px 20px;
  top: 210px;
  left: 18px;
  box-shadow: 0 0.5em 1em -0.123em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 1rem;
}

.collapsible {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0%;
}

.content-collasible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}